<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CheckMate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    
    
    <style>
        .sticky-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000; /* Ensure it's above other content */
        }

        .content{
            padding-top: 70px; /* Adjust as needed based on navbar height */
            padding-bottom: 20px; /* Add space between content and navbar */
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary sticky-nav" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-check-to-slot"></i> CheckMate</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house"></i> Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DoList" asp-action="Index">
                                <i class="fa-solid fa-list-check"></i> What To Do?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DoList" asp-action="Calendar">
                                <i class="fa-solid fa-calendar-days"></i> Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="DoList" asp-action="Shared">
                                <i class="fa-brands fa-slideshare"></i> Shared
                            </a>
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="d-flex my-2 my-lg-0" asp-action="Index" asp-controller="Search" method="get">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchString" data-bs-theme="light">
                            <button class="btn btn-dark btn-sm" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    }


                    <partial name="_LoginPartial" />

                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3 content">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://kit.fontawesome.com/1cdfaf5f64.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
